.reviews__bg {
  background-image: url(/assets/images/reviews-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 35px 0 270px 0;
  position: relative;
  @include tablets {
    padding-top: 10px;
    padding-bottom: 300px;
  }
  @media (max-width: 590px) {
    padding-bottom: 330px;
  }
  @media (max-width: 430px) {
    padding-bottom: 420px;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__title {
  background-image: url(/assets/images/stars.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px 0;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 63px;
  font-family: 'Sansus Webissimo', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
  @include tablets {
    font-size: 49px;
    margin-bottom: 10px;
  }
  @include phones {
    font-size: 35px;
    padding-top: 30px;
  }
}

.reviews__reviews-list {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  @include desktop {
    width: 70%;
  }
  @include tablets {
    width: 100%;
    margin-bottom: 50px;
  }
  @include phones {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
  }
}

.reviews__reviews-item {
  padding-top: 95px;
  background-position: top center, left 70px;
  background-repeat: no-repeat, no-repeat;
  background-size: 77px 77px, 75px 61px;
  flex-basis: 48%;
  @include phones {
    background-size: 50px 50px, 75px 61px;
    padding-top: 65px;
  }
  &--author-1 {
    background-image: url(/assets/images/author-1.png), url(/assets/images/citate.png);
    margin-right: 25px;
    @include phones {
      margin-right: 0;
      margin-bottom: 35px;
    }
  }
  &--author-2 {
    background-image: url(/assets/images/author-2.png), url(/assets/images/citate.png);
  }
}

.reviews__text {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 20px;
  @include tablets {
    font-size: 14px;
  }
}

.reviews__author-name {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  @include phones {
    font-size: 14px;
  }
}

.reviews__author-desc {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.reviews__feedback {
  box-sizing: border-box;
  min-width: 380px;
  min-height: 460px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 45px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @include tablets {
    min-width: 350px;
    min-height: 440px;
  }
  @include phones {
    min-width: auto;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

.reviews__feedback-title {
  font-family: 'Sansus Webissimo', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 60px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  @include tablets {
    font-size: 30px;
  }
  @include phones {
    margin-bottom: 40px;
    font-size: 21px;
  }
  &::before {
    background-color: #878682;
    bottom: -30px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 90px;
    @include phones {
      bottom: -20px;
      background-color: #ffffff;
      width: 55px;
    }
  }
}

.reviews__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.reviews__input {
  margin-bottom: 20px;
  width: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  height: 45px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  @include tablets {
    font-size: 14px;
  }
  &--textarea {
    height: 130px;
  }
}

.reviews__submit {
  box-sizing: border-box;
  display: inline-block;
  background-color: #004cd1;
  border: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  height: 45px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.reviews__reset {
  box-sizing: border-box;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  height: 45px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}

.reviews__arrow-up-link {
  display: inline-block;
  height: 16px;
  padding: 10px;
  width: 26px;

  &:hover svg {
    opacity: 1;
  }

  & svg {
    fill: #ffffff;
    height: 16px;
    opacity: 0.7;
    transition-duration: 0.4s;
    transition-property: all;
    width: 26px;
  }
}